@import './mixin'
@import './reset'
@import './imago'
@import './slider'
@import './buttons'
@import './fields'
@import './nojs'

*
  box-sizing: border-box


// Browse Happy

.browsehappy
    margin: 0.2em 0
    background: #ccc
    color: #000
    padding: 0.2em 0

// End Browse Happy

@font-face
  font-family: "Trade Gothic"
  font-weight: 700
  src: url("i/fonts/2e9af08f-0faf-45e3-9767-78a700434af3.eot?#iefix")
  src: url("i/fonts/2e9af08f-0faf-45e3-9767-78a700434af3.eot?#iefix") format("eot"), url("i/fonts/f51d24dd-8256-43c6-ba1a-6aeae9d3f262.woff") format("woff"), url("i/fonts/955ee494-66b2-4eb2-8f19-bc3a088df16d.ttf") format("truetype"), url("i/fonts/d5153ad4-7c93-4757-9147-640e69ec4801.svg#d5153ad4-7c93-4757-9147-640e69ec4801") format("svg")

@font-face
  font-family: "Trade Gothic"
  font-weight: 400
  src: url("i/fonts/413d9688-00d4-47c4-bb55-656a0cd396e9.eot?#iefix");
  src: url("i/fonts/413d9688-00d4-47c4-bb55-656a0cd396e9.eot?#iefix") format("eot"), url("i/fonts/c4aef0d4-bfcf-4790-acf5-909881f411e8.woff") format("woff"), url("i/fonts/e741f29c-bc18-4343-bff3-db2465a0be3e.ttf") format("truetype"), url("i/fonts/853e2a9b-4057-42a5-ad7e-0762cda0b13c.svg#853e2a9b-4057-42a5-ad7e-0762cda0b13c") format("svg")

@font-face
  font-family: "Trade Gothic Condenced"
  font-weight: 700
  src: url("i/fonts/257c802f-349c-4b4d-aefa-546d5de15ec6.eot?#iefix")
  src: url("i/fonts/257c802f-349c-4b4d-aefa-546d5de15ec6.eot?#iefix") format("eot"), url("i/fonts/5fdc935e-9e30-442a-bbe9-8d887b858471.woff") format("woff"), url("i/fonts/616c4c87-a077-43f4-a9f4-f01267c13818.ttf") format("truetype"), url("i/fonts/c901ad5f-a842-4549-a1f4-583a97f7e169.svg#c901ad5f-a842-4549-a1f4-583a97f7e169") format("svg")

.bold
  font-family: "Trade Gothic", Helvetica, Arial, sans-serif
  font-weight: 700;

.condenced
  font-family: "Trade Gothic Condenced", Helvetica, Arial, sans-serif
  font-weight: 700;

.fontstyle
  font-family: "Trade Gothic", Helvetica, Arial, sans-serif
  font-weight: 400
  line-height: normal
  color: #333

html
body
  margin: 0
  padding: 0
  width: 100%
  // height: 100%
  background: white
  font-size: 15px

body
  @extends .fontstyle
  overflow-y: auto
  overflow-x: hidden
  text-align: center

a
  @extends .fontstyle
  color: black
  text-decoration: none

img
  border: 0
  -ms-interpolation-mode: bicubic
  vertical-align: middle

strong
  font-weight: bold

h1
h2
h3
h4
h5
h6
  // @extends .bold
  color: #444
  font-weight: 200
  margin: 10px 0
  font-smoothing: antialiased

h1
  font-size: 26px
h2
  font-size: 18px
  font-weight: 400
h3
  text-transform: uppercase
  font-size: 15px
h4
  text-transform: uppercase
  font-size: 13px
  color: lighten(black, 60%)

p
li
  @extends .fontstyle
  font-smoothing: antialiased
  line-height: 17px;
  // color: lighten(black, 50%)
  color: black
  font-size: 15px


ul.list
  list-style-type: none;
  padding: 0px;
  margin: 10px 0px;
  list-style-position: inside
  li
    list-style-type: none
    line-height: 17px
  li:before
    content: "— "
    position: relative

.logo
  // width: 130px
  // height: 30px
  // margin: 0
  a
    display: block
    background-image: url('//pablosbirthday.imagoapp.com/logo=s600')
    background-repeat: no-repeat
    background-position: center
    background-size: 100% auto
    // height: 30px
    width: 300px
    padding-top: 32px
    overflow: hidden
    margin: 0 auto
    line-height: 200%
    text-indent: -1000px

.page
  // width: 439px
  // height: 128px
  // padding-top: 100px
  // padding-bottom: 100px
  padding: 30px 20px 50px
  // transition: 0.3s all
  &.active
    padding-left: 265px

// .page.ng-enter, .page.ng-leave
//   transition: 0.3s linear all
//   position: absolute
//   top: 187px

// .page.ng-enter
//   z-index: 100
//   opacity: 0

// .page.ng-enter.ng-enter-active
//   opacity: 1

// .page.ng-leave
//   z-index:101
//   opacity: 1

// .page.ng-leave.ng-leave-active
//   display: none
//   opacity: 0
//   height: 0

.imagoimage
.imagoslider
.imagevideo
  height: 400px
  // transition: all 500ms
  .image
    opacity: 1

.imagovideo .controls
  opacity: 1

.imagoimage
.imagovideo
  // pos()
.nexslider
  // pos()
  > .slides
    // pos()

  .next
  .prev
    display:  block
    width:  20px
    height: 20px
    border-top:    1px solid white
    border-right:  1px solid white
    position: absolute
    z-index: 10
    top: 50%
    margin-top: -10px
    transition: all .15s
    cursor: pointer
    &:before
      content: ""
      position: absolute
      left: -2px
      top: 0px
      width:  20px
      height: 20px
      border-top:    1px solid black
      border-right:  1px solid black
  .prev
    left: 50px
    transform: rotate(225deg)
    &:hover
      transform: scale(1.2) rotate(225deg)
  .next
    right: 50px
    transform: rotate(45deg)
    &:hover
      transform: scale(1.2) rotate(45deg)

nav
  // position: fixed
  top: 0
  width: 100%
  padding: 30px 0
  text-align: center
  background: rgba(255, 255, 255, 0.95)
  z-index: 2

  li
    display: inline-block
    margin: 0 10px

  .menubutton
    font-size: 2em
    padding: 15px 20px
    position: fixed
    z-index: 5
    left: 0
    height: 100%

    i
      margin-right: 10px

    &:hover, &:focus
      cursor: pointer

  .menubutton.ng-hide-add,
  .menubutton.ng-hide-remove
    transition:0.3s linear all
    display:block !important
    opacity:1;

  .menubutton.ng-hide
    opacity:0;

  .menu
    &:hover
      a
        color: rgb(153, 153, 153)
    a
      color: black
      padding: 7px 10px
      // font-weight: bold
      font-size: 17px
      text-transform: uppercase
      transition: all 300ms
      &:hover
        color: black
    .active
      color: rgb(153, 153, 153)

  .menu.ng-hide-remove,
  .menu.ng-hide-add
    display:block !important;

  .menu.ng-hide-add
    animation: 0.5s hide;

  .menu.ng-hide-remove
    animation: 0.5s show;

@keyframes hide
  0% { transform: translateX(0) }
  100% { transform: translateX(-265px) }

@keyframes show
  0% { transform: translateX(-20px) }
  50% { transform: translateX(10px) }
  100% { transform: translateX(0) }

div.home
  .imagoimage
    height: 550px
    margin-bottom: 30px
  > div
    margin-bottom: 50px
  b
  p
    text-align: center
    margin-top: 0.8em
    display: block
  .copyright
    padding-top: 20px
    margin-bottom: 0
    font-size: 13px

div.exhibitions
  > div
    margin: 0 20px
    text-align: center
    // &:first-child
    //  margin-top: 0
  p
    text-transform: lowercase
    display: block
    margin-top: 1em
  a
    display: block
    padding: 2.3em 20px 2.5em
    &:hover
      background: rgba( 244, 244, 244, 1)
  .line
    background: #000
    height: 5px
    width: 20px
    margin: 0 auto

div.grid
  > div
    // width: 20%
    width: 300px
    display: inline-block
    margin: 0 40px 40px
    b
      display: block
      margin-top: 20px
      text-transform: uppercase

    &.ng-enter-stagger
      transition-delay: 0.1s

    &.ng-enter
      transition: 0.5s linear all
      opacity: 0

    &.ng-enter.ng-enter-active
      opacity: 1

div.artist
  h1
    font-size: 30px
    margin-bottom: 50px
    display: block
    text-transform: uppercase
  > div
    &:hover
      cursor: zoom-in

// body.overflow
//  overflow: visible


div.zoomIn
  position: fixed
  top: 0
  left: 0
  width: 100% !important
  height: 100%
  margin: 0 !important
  background-size: auto 75%
  background-position: center center
  background-color: rgba(255, 255, 255, .9)
  background-repeat: no-repeat
  transition: all 200ms
  &:hover
    cursor: zoom-out !important
  &.ng-hide-remove
  &.ng-hide-add
    display:block !important

  &.ng-hide-add
    animation: 0.3s zoomHide

  &.ng-hide-remove
    animation: 0.3s zoomShow

@keyframes zoomHide
  0% { opacity: 1 }
  100% { opacity: 0 }

@keyframes zoomShow
  0% { opacity: 0 }
  100% { opacity: 1 }

div.news
  > div
    max-width: 600px
    margin: 0 auto 40px

  .info
    margin-top: 20px
  .date
    font-weight: bold
    margin-bottom: 10px
  p
    line-height: 1.5

div.about
  > div
    max-width: 600px
    margin: 0 auto
    text-align: left
  .slider
    position: relative
    margin-bottom: 20px
  .slide
    &.ng-hide-add
    &.ng-hide-remove
      transition: 0.3s linear all
      display: block !important
      opacity: 1
    &.ng-hide
      opacity: 0
      position: absolute
  p
    line-height: 1.5
    margin-bottom: 10px

div.contact
  > div
    max-width: 600px
    margin: 0 auto
  h1
    margin-top: 30px
  p
    line-height: 1.5
  a
    display: block
    margin-bottom: 20px

div.publications
  > div
    // width: 40%
    width: 300px
    display: inline-block
    padding: 0 40px 40px

    &.ng-enter-stagger
      transition-delay: 0.2s

    &.ng-enter
      transition: 0.5s linear all
      opacity: 0

    &.ng-enter.ng-enter-active
      opacity: 1

@media screen and (max-width: 1000px)
  div.home
    .imagoimage
      height: 400px
  div.grid
    > div
      // width: 33%

@media screen and (max-width: 500px)
  .page
    padding-top: 10px
  div.home
    .imagoimage
      height: 200px
  nav
    text-align: justify
  div.grid
    > div
      // width: 100%
      margin-right: 0
      margin-left: 0