main.contact
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

  .form
    max-width: 320px

    label
      letter-spacing: 1px

    ::placeholder
      color: transparent