
.policy-popup-content(ng-if="policypopup.showform")
  .en This site uses cookies. By continuing to browse the site, you are agreeing to our use of cookies.
    a.findout(href="/policy")  Find out more.
    a.close(ng-click="policypopup.hide()") Close




