span © #{ new Date().getFullYear() }
span C&P - Creative & Partners
span NeueHouse
span
  a(href="https://www.google.com/maps/place/NeueHouse/@40.741165,-73.984922,17z/data=!3m1!4b1!4m2!3m1!1s0x89c259a730a1d6fb:0xd670305b0ebcc88a" target="_blank") 110 East 25th Street, New York, NY 10010
//- span
//-   a(href="http://www.creativeandpartners.com" target="_blank") www.creativeandpartners.com
