.mobile(
  ng-show="mobile"
  ng-class="{'active': active}"
  )
  a.logo(ui-sref="home")

  .burger(ng-click="activate()")
    span.lines

  nav
    a.artists(ui-sref="artists") Artists


.desktop(ng-show="!mobile" headroom)
  h1.logo
    a(ui-sref="home" ng-click="toTheTop()") Title

  nav
    a.artists(ui-sref="artists") Artists

