button(
  ng-show="mobile"
  hm-tap="activate"
  )
  div
  div
  div

nav(
  ng-class="{'active': active}"
  )
  a.home(href="/") Home
  //- a(href="/") link
  //- a(href="/") link
  //- a(href="/") link
  //- a(href="/") link
  //- a(href="/") link
