button(
  ng-show="mobile"
  hm-tap="activate"
  )
  div
  div
  div

nav(ng-class="{'active': active}")
  a.artists(href="/artists") Artists
  a.manifesto(href="/manifesto") manifesto
  h1.logo
    a(href="/") Creative & Partners
  a.social(href="/social") Social
  a.contact(href="/contact") Contact