a(href="/menu")
  //- img.logo(src="//roisinmurphy.imago.io/logo=s460")
  //- img.logo-light(src="//roisinmurphy.imago.io/logo=s460")
  img.logo(src="/i/logo.png")
  img.logo-menu(src="/i/logo-menu.png")