nav
  //- .menubutton(ng-hide="showNav", ng-click="showNav = true")
  //-   i.fa.fa-bars
  //-   span menu
  ul.menu
    li: a(href="/exhibitions") Exhibitions
    li: a(href="/artists") Artists
    li: a(href="/news") News
    li: a(href="/about") About
    li: a(href="/publications") Publications
    li: a(href="/contact") Contact
