main.page
  padding: 0 1em
  transition: font-size 0.25s ease
  max-width: $xsmall
  font-size: 1em
  margin: 0 auto
  text-align: left

  // +max-screen($medium)
  //   font-size: 0.9em

  // +max-screen($small)
  //   font-size: 0.8em

  h1
    font-size: 3em
    margin-bottom: 1.5em
    margin-top: 2em
    text-align: center

  h2
    font-size: 2em
    margin-bottom: 0.5em

body.desktop main.page
  // desktop styles

body.mobile main.page
  // mobile styles
