doctype html
html(ng-app="app"
  xmlns:og="http://opengraphprotocol.org/schema/"
  xmlns:fb="http://www.facebook.com/2008/fbml"
  xmlns:website="http://ogp.me/ns/website"
  lang="en-US"
  itemscope itemtype="http://schema.org/WebPage"
  class="nojs")
  head

    //- link(href="www.domain.com" rel="alternate" hreflang="x-default")
    //- link(href="www.domain.com/en" rel="alternate" hreflang="en")
    //- link(href="www.domain.com/de" rel="alternate" hreflang="de")

    include header

    //- script(src="//maps.googleapis.com/maps/api/js?key=AIzaSyBlLsv3TLIQBYhJU6z8vbAOsjJoHEnaDNo&callback=initMap" type="text/javascript")

  body(
    ng-class="[mobileClass, state, controller, path, {'navActive': navActive}]"
    responsive-events imago-save-scroll)

    header(headroom)
    not-supported
    imago-main(ui-view)
    footer

    policy-popup

    include backuptemplate
