doctype html
html(ng-app="app"
  xmlns:og="http://opengraphprotocol.org/schema/"
  xmlns:fb="http://www.facebook.com/2008/fbml"
  xmlns:website="http://ogp.me/ns/website"
  lang="en-US"
  itemscope itemtype="http://schema.org/WebPage")
  head
    include header
    //- link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
  body(
    ng-class="[mobileClass, state, path, {'navActive': navActive}]"
    responsive-events)

    header
    div(not-supported)
    main(ui-view ng-class="[state, path]")
    footer

    include backuptemplate
