{% autoescape None %}
<!DOCTYPE html>
<html ng-app="app">
<head>
  {% set name =  page.get('name', '') + ' - ' if page.get('name', '') != '/' else '' %}
  <title>{{ name }}{{ handler.get_val(settings, 'title') }}</title>
  <!-- a nex9.com site -->

  <base href="/">
  <link rel="icon" href="{{ handler.get_val(settings, 'icon') or '/'+str(version)+'/favicon.ico' }}">
  <link rel="stylesheet" href="/{{ version }}/application.min.css" type="text/css">

  <meta name="google-site-verification" content="{{ handler.get_val(settings, 'google-verification-string') }}" />

  <meta name="description" content="{{handler.get_val(page, 'description') or handler.get_val(settings, 'description') }}">
  <meta name="keywords" content="{{ ', '.join(handler.get_val(settings, 'site-keywords', []) + handler.get_val(page, 'tags', []) + handler.get_val(page, 'categories', []))}}">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta http-equiv="cleartype" content="on">

  <!-- Facebook sharing meta -->
  <meta property="og:site_name" content="{{ handler.get_val(settings, 'title') }}"/>
  <meta property="og:image", content="{{ handler.get_val(page, 'serving_url') }}">
  <meta property="og:title", content="{{ name.replace(' - ', '') }}">
  <meta property="og:description" content="{{ handler.get_val(page, 'description') or handler.get_val(settings, 'description') }}">
  <meta property="og:url", content="{{ handler.url }}/">
  <meta property="og:type" content=""/>

  <!-- Mobile iOS stuff -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="">

  <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed">

  <script src="//maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>

  <!-- GSAP -->
  <!-- <script src="//static.imagoapp.com/static/lib/greensock/1/TweenMax.min.js" type="text/javascript"></script> -->
  <!-- <script src="//static.imagoapp.com/static/lib/greensock/1/plugins/ScrollToPlugin.min.js"></script> -->

  <!--[if IE 9]>
    <script src="/ie9.worker.js"></script>


    <script src="//cdn.rawgit.com/jpillora/xdomain/0.6.15/dist/0.6/xdomain.js"></script>

    <script>
        xdomain.slaves({
          "http://api.2.imagoapp.com": "/api/ieproxy",
          "https://api.2.imagoapp.com": "/api/ieproxy"
        });
    </script>

    <![endif]-->

  <script src="/{{ version }}/application.min.js" type="text/javascript"></script>

  <script>

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ handler.get_val(settings, "google-analytics-id") }}', 'auto', {'allowLinker': true});
    ga('require', 'linker');
    ga('linker:autoLink', ['{{ handler.namespace }}.2.imagoapp.com'] );
    ga('send', 'pageview');

  </script>



</head>
  <body class="{{! state }} {{! path }}" ng-class="{'navigation': navActive, 'mobile': mobile}">
    <!-- <header></header> -->
    <div not-supported></div>
    <div ui-view></div>
    <!-- <footer></footer> -->

    <div class="nojs", ng-if="!js">

      {% set hl = handler.get_val(page, 'headline') %}
      {% set headline = hl if hl != '/' else 'home' %}
      <h2>{{ headline }}</h2>
      <h3>{{ handler.get_val(page, 'title') }}</h3>
      <p>{{ handler.get_val(page, 'description') }}</p>
      {{ handler.get_val(page, 'html') }}
      {{ handler.get_val(page, 'text') }}

      {% if page.get('assets', []) %}
        <ul>
          {% for asset in page.get('assets', []) %}
          <li>
            {% if asset.get('kind', None) == 'Collection' %}
                <a class="Collection"
                    data-uuid="{{ asset.get('uuid') }}"
                    data-resolution="{{ asset.get('resolution') }}"
                    href="{{ asset.get('path') }}"
                    title="{{ handler.get_val(page, 'title') }}">

            {% if asset.get('kind') == 'Video' %}
                  <video poster="{{ asset.get('serving_url' )}}=s400">
                    <source src="/assets/play_redirect?uuid={{ asset.get('uuid') }}&codec=mp4&quality=sd&max_size=288p" type="video/mp4">
                    <source src="/assets/play_redirect?uuid={{ asset.get('uuid') }}&codec=webm&quality=sd" type="video/ogg">
                  <video>
              {% elif asset.get('serving_url') %}
                <img src="{{ asset.get('serving_url' )}}=s400" />
              {% end %}
                <h2>{{ handler.get_val(asset, 'headline') }}</h2>
                <h3>{{ handler.get_val(asset, 'title') }}</h3>
                <p>{{ handler.get_val(asset, 'description') }}</p>
                {{ handler.get_val(asset, 'html') }}
                {{ handler.get_val(asset, 'text') }}
                </a>
            {% else %}
              {%  if asset.get('kind') == 'Video' %}
                  <video poster="{{ asset.get('serving_url' )}}=s400">
                    <source src="/assets/api/play_redirect?uuid={{ asset.get('uuid') }}&codec=mp4&quality=sd&max_size=288p" type="video/mp4">
                    <source src="/assets/api/play_redirect?uuid={{ asset.get('uuid') }}&codec=webm&quality=sd" type="video/ogg">
                  <video>
              {% elif asset.get('serving_url') %}
                <img src="{{ asset.get('serving_url' )}}=s400" />
              {% end %}
                <h2>{{ handler.get_val(asset, 'headline') }}</h2>
                <h3>{{ handler.get_val(asset, 'title') }}</h3>
                <p>{{ handler.get_val(asset, 'description') }}</p>
                {{ handler.get_val(asset, 'html') }}
                {{ handler.get_val(asset, 'text') }}
            {% end %}
          </li>
          {% end %}
        </ul>
      {% if pagenum %}
        {% set next, previous = handler.nextprev(pagenum) %}
        {% set nextlink, prevlink = handler.pagelinks(next=next, prev=previous) %}
        {% if next %}<a href="{{ nextlink }}">next</p>{% end %}
        {% if previous %}<a href="{{ prevlink }}">previous</p>{% end %}
      {% end %}
    {% else %}
      <img src="{{ page.get('serving_url') }}=s400" />
      <h2>{{ handler.get_val(page, 'headline') }}</h2>
      <h3>{{ handler.get_val(page, 'title') }}</h3>
      <p>{{ handler.get_val(page, 'description') }}</p>
      {{ handler.get_val(page, 'html') }}
      {{ handler.get_val(page, 'text') }}
    {% end %}

  </div>


  </body>
</html>
