@import base/variables
@import ../bower_components/normalize.css/normalize

// imago imports
@import ../bower_components/imago/css/mixin
@import ../bower_components/imago/css/imago
@import ../bower_components/imago/css/slider
@import ../bower_components/imago/css/imago-modal
@import ../bower_components/imago/css/nojs
@import ../bower_components/sass-mediaqueries/media-queries

@import //themes.imago.io/font-awesome/4.7.0/css/font-awesome.min.css

// theme imports
@import base/fonts
@import base/typography
@import base/buttons

// @import base/forms
@import base/imago
@import base/icons
@import base/layout
@import share/share
@import page-not-found/page-not-found
@import policy-popup/policy-popup

// sections
@import header/header
@import footer/footer

@import contact/contact

// @import blog/blog
@import home/home

// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// textarea:-webkit-autofill,
// textarea:-webkit-autofill:hover,
// textarea:-webkit-autofill:focus,
// select:-webkit-autofill,
// select:-webkit-autofill:hover,
// select:-webkit-autofill:focus
//   transition: background-color 5000s ease-in-out 0s

.imago-slider-content
  > .next,
  > .prev
    position: absolute
    z-index: 5
    top: 0px
    bottom: 0px
    width: 30%

    &:hover
      cursor: pointer

  > .next
    right: 0

    &:after
      position: absolute
      bottom: 20px
      right: 15px
      width: 30px
      height: 11px
      content: "Next"

  > .prev
    left: 0

    &:after
      position: absolute
      bottom: 20px
      left: 15px
      width: 32px
      height: 11px
      content: "Back"

    &:hover
      cursor: none
