h1 Hello World {{ message }}


  //- div(ng-repeat="image in images")
  //-   imago-image


div(ng-repeat="asset in assets")
  //- div(imago-image,
  //-     source="asset"
  //-     )
  div.imagevideo(imago-video, source="asset", align="center center")


//- div(imago-slider,
//-     source="assets"
//-     )
