header
  padding-top: 0.938em
  padding-bottom: 0.313em
  position: absolute
  top: 0
  left: 0
  right: 0
  background: white
  z-index: 10

  h1.logo
    width: 300px
    margin: 0 auto
    a
      padding: 0 .5em
      background: url("//#{$tenant}.imago.io/logo=s600") no-repeat
      background-size: 100% auto
      width: 300px
      display: block
      height: 0
      padding-top: 33px
      overflow-x: hidden
  nav
    margin: 0.625em 0
    a
      font-size: 1em
      margin: 0 0.5em
      &.active
        border-bottom: 1px solid #ccc
