header
  padding-top: 0.938em
  padding-bottom: 0.313em
  position: absolute
  top: 0
  left: 0
  right: 0
  background: white
  z-index: 10

  a.logo
    font-size: 2.813em
    padding: 0 .5em

  nav
    margin: 0.625em 0
    a
      font-size: 1em
      margin: 0 0.5em
      &.active
        border-bottom: 1px solid #ccc
