
imago-fetch(query="/")
  nav
    a(
      ng-href="{{::item.path}}"
      ng-class="[{active: item.path === urlPath},item.name.toLowerCase()]"
      ng-repeat="item in ::imagofetch.result.assets"
      ui-sref-active="active") {{::item.fields.title.value || item.name}}
