header
  padding-top: 1em
  padding-bottom: 0.313em
  position: fixed
  z-index: 100
  top: 0
  left: 0
  right: 0
  transition: all 0.25s ease
  height: $header-height
  background: rgba(white, 1)
  backdrop-filter: blur(0px)

  // &.headroom--pinned

  a.logo
    position: relative
    z-index: 1000
    display: block
    left: 0
    top: 0
    margin-left: 20px
    overflow: hidden
    perspective: 1000
    width: 100px
    height: 32px

    .front, .back
      display: block
      width: 100px
      height: 32px
      position: absolute
      top: 0
      left: 0
      transition: 0.5s
      backface-visibility: hidden
      transform-style: preserve-3d
      transition-delay: 0.125s
      background: white

    .front
      background: url(i/logo.svg) no-repeat
      background-size: contain

    .back
      transform: rotateX(180deg)
      line-height: 2.2em

    &.active
      .front
        transform: rotateX(180deg)

      .back
        transform: rotateX(0deg)

  // narrow
  +max-screen($small)
    background: white

    &.active
      height: 100vh
      background: transparent
      backdrop-filter: blur(10px)

      .back
        +pos

    a.logotext
      position: absolute
      top: 0
      left: 0
      border: 1px solid red

    .menu
      background: none
      border: none
      position: absolute
      z-index: 1000
      top: 20px
      right: 16px

    nav
      position: absolute
      right: 0px
      padding: 20px
      padding-top: 100px
      margin-left: auto
      display: flex
      flex-direction: column
      justify-content: center
      align-items: flex-end
      background: white
      width: 50%
      height: 340px
      min-width: 400px
      max-width: 700px
      transition: all 0.25s ease-in-out
      transform: translateY(-400px)

      a
        line-height: 1.25em
        margin: 0.4em 0

        &:last-child
          margin-top: 1em

        &.active
          border-bottom: 1px solid black

      &.active
        transform: translateY(-50px)


  // wide
  +min-screen($small)
    a.logo
      position: absolute
      top: 20px

    .menu
      display: none

    nav
      display: flex
      justify-content: center
      align-items: center
      height: 32px
      margin-top: 4px

      a
        margin: 0.25em
        font-size: 1em
        margin: 0 1em
        transition: transform 0.125s ease-in-out
        padding: 2em 0

        &:not(.home)
          &.active,
          &:hover
            transform: translateY(-12px)

        &.contact
          position: absolute
          right: 60px
