h1.logo
  a(ui-sref="home") Tenant

nav
  a(ui-sref="shop" ui-sref-active="active") Shop
  a(ui-sref="about" ui-sref-active="active") About
  a(ui-sref="campaign" ui-sref-active="active") Campaign
  a(ui-sref="contact" ui-sref-active="active") Contact
