a(ui-sref="home").logo.freud-logo-svg Freud New York, Austrian Restaurant
  //- a(ui-sref="home") {{tenantSettings.settings.name}}

nav
  a(ui-sref="shop" ui-sref-active="active") Shop
  a(ui-sref="about" ui-sref-active="active") About
  a(ui-sref="blog" ui-sref-active="active") Blog
  a(ui-sref="contact" ui-sref-active="active") Contact
