.shop
  .padding
    .grid
      .item(ng-repeat="item in ::page.data.assets track by item._id" ng-class="item.kind")
        a(ng-href="{{::item.path}}")
          .media
            div(
              ng-repeat="image in ::item.assets | limitTo: 2"
              imago-image="image"
              sizemode="crop"
              )
            div(imago-image="item.assets[0]" sizemode="crop")
            div(imago-image="item.assets[1]" sizemode="crop")

        .caption
          a.title(ng-href="{{::item.path}}" ng-bind="::item | meta:'title'")
          .price(imago-find-price variants="item.variants")
          .options(find-options variants="item.variants" options="['color']")

