span copyright © #{ new Date().getFullYear() } tenant
a(target="_blank" ng-href="http://twitter.com/HomeAgencyReal") Twitter
a(target="_blank" ng-href="http://www.facebook.com/homeagencyco") Facebook
a(target="_blank" ng-href="http://homeagency.tumblr.com") Tumblr
a(target="_blank" ng-href="http://instagram.com/homeagency") Instagram
