.imago-subscribe-content(ng-class="{submitted: imagosubscribe.submitted}")
  .imago-field
    .thanks Thank You!
    .progress
    input(
      type="email"
      name="email"
      ng-model="page.form.email"
      placeholder="Enter email address to sign-up"
      required
      )

  .imago-actions(ng-hide="mobile")
    button.btn.primary.send(type="submit") Subscribe

