.imago-subscribe-content(ng-class="{submitted: imagosubscribe.submitted}")
  .imago-field
    .thanks We will be in touch shortly.
    .progress
    input(
      type="email"
      name="email"
      ng-model="page.form.email"
      placeholder="Enter Email"
      required
      )

  .imago-actions
    button.btn.primary.send(type="submit") Submit

