@font-face
  font-family: "Ouija-Regular"
  src: url("i/fonts/Ouija-Regular.eot")
  src: url("i/fonts/Ouija-Regular.woff") format("woff"), url("i/fonts/Ouija-Regular.woff2#iefix") format("woff2")
  font-weight: normal
  font-style: normal