
// start base

::placeholder
  color: black
  padding-top: 3px

input,textarea
  &:focus::placeholder
    color: transparent

html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit



html,
body
  margin: 0
  padding: 0
  width: 100%
  background: white
  font-size: 16px
  +font-smoothing(antialiased)
  user-select: none
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%
  -webkit-overflow-scrolling: touch

html
  height: 100%

body
  overflow-y: auto
  overflow-x: hidden
  min-height: 100%
  font-family: "Caslon 540 LT W01 Roman"


h1, h2, h3, h4, h5, h6, span, a, p
  user-select: auto

a
  text-decoration: none

img
  border: 0
  -ms-interpolation-mode: bicubic
  vertical-align: middle

h1, h2, h3, h4, h5, h6
  font-weight: 200
  margin: 10px 0
  text-transform: lowercase

h1
  font-size: 36px
h2
  font-size: 18px
  font-weight: 400
h3
  font-size: 15px
h4
  font-size: 13px

p, li
  line-height: 1.25em

p, li, a, span
  font-weight: 200px


ul.list
  list-style-type: none
  padding: 0px
  margin: 10px 0px
  list-style-position: inside
  li
    list-style-type: none
    line-height: 20px
  li:before
    content: "— "
    position: relative


.imagoimage,
.imagovideo
  .spin
    border-top: 6px solid rgba(180,180,180,0.2)
  .spin2
