.home
  div(ng-repeat="asset in assets")
    div(imago-image,
        source="asset"
        )
    div(ng-bind-html="asset.meta.description.value.value")
  .copyright Pablo´s Birthday | 57 Orchard Street | New York, NY 10002