.live
  .text
    script(type='text/javascript', src='http://widget.bandsintown.com/javascripts/bit_widget.js')
    a.bit-widget-initializer(href='http://www.bandsintown.com/R%C3%B3is%C3%ADn%20Murphy', data-artist='Róisín Murphy') Róisín Murphy Tour Dates




    //- ul
    //-   a(ng-href="{{event | meta:'link'}}")
    //-     li(ng-repeat="event in page.data.assets")
    //-       h2(ng-bind="event | meta:'date' | date")
    //-       p(ng-bind="event | meta:'location'")
    //-       a(ng-href="{{event | meta:'link'}}") buy tickets