.menu(
    ng-class="{'active': active}"
    )
  nav.main
    a.live(href="/live") Live
    a.music(href="/music") Music
    //- a.news(href="/news") News
    a.show(ng-href="http://roisinmurphy.tmstor.es" target="_blank") Shop
    a.instagram(href="/instagram") Instagram
    a.pictures(href="/pictures") Pictures
    a.biography(href="/biography") Biography
    a.contact(href="/contact") Contact

  include social.jade
