.newsfeed
  h2 News

  ul
    li
      p
        | Lorem ipsum dolor
        span.artist SHU AKASHI
        | sit amet, consectetur adipisicing elit
        a(href="/tagged/cartier").hastag #cartier

    li
      p
        span.artist DOUG ABRAHAM
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        a(href="/tagged/doug-abraham").hastag #doug-abraham

    li
      p
        | Lorem ipsum dolor sit amet,
        span.artist LEE SWILLINGHAM & STUART SPALDING
        | consectetur adipisicing elit
        a(href="/tagged/cartier").hastag #cartier


    li
      p
        span.artist DOUG ABRAHAM
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        a(href="/tagged/doug-abraham").hastag #doug-abraham
