.social
  a(href="http://instagram.com/xx" target="_blank").instagram Instagram
  a(href="https://www.facebook.com/xx" target="_blank").facebook Facebook
  a(href="https://plus.google.com/xx" target="_blank").googleplus Google +