.socialfeed

  h2 Social

  ul
    li
      span.label Instagram

      img(src="https://igcdn-photos-c-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-15/10958372_348480102006442_1857366800_n.jpg" width="320" height="320")

      p shot by
        strong SHU AKASHI
        | New York, September 2015. @beyonce FASHION EDITOR: #GiulioMartinelli HAIR: @kimblehaircare MAKEUP: @francescatolot @shuakashi #shuakashi  #fashion #beauty #style #bey #jay #jayz #idol #queenb #queenbey #beyoncefan

      a(src="http://instagram.com/p/ycxvrqpqkt/") http://instagram.com/p/ycxvrqpqkt/

    li
      span.label Instagram

      img(src="https://igcdn-photos-c-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-15/10958372_348480102006442_1857366800_n.jpg" width="320" height="320")

      p shot by
        strong SHU AKASHI
        | New York, September 2015. @beyonce FASHION EDITOR: #GiulioMartinelli HAIR: @kimblehaircare MAKEUP: @francescatolot @shuakashi #shuakashi  #fashion #beauty #style #bey #jay #jayz #idol #queenb #queenbey #beyoncefan

      a(src="http://instagram.com/p/ycxvrqpqkt/") http://instagram.com/p/ycxvrqpqkt/

    li
      span.label Instagram

      img(src="https://igcdn-photos-c-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-15/10958372_348480102006442_1857366800_n.jpg" width="320" height="320")

      p shot by
        strong SHU AKASHI
        | New York, September 2015. @beyonce FASHION EDITOR: #GiulioMartinelli HAIR: @kimblehaircare MAKEUP: @francescatolot @shuakashi #shuakashi  #fashion #beauty #style #bey #jay #jayz #idol #queenb #queenbey #beyoncefan

      a(src="http://instagram.com/p/ycxvrqpqkt/") http://instagram.com/p/ycxvrqpqkt/